@import '_sizes';
@import '_colors';
@import '_font';
@import '_mixins';

.main-nav {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include base-margin;

    &__logo {
        color: $highlight-color;
        cursor: pointer;
        font-weight: bold;
    }
    &__menu {
        @include list;
        position: fixed;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: $menu-mobile-height;
        left: 0;
        bottom: 0;
        background-color: $light-color;
        box-shadow: 0px -10px 29px 0px rgba(146 161 176 / 80%);
        
        @include for-sm-screen-up {
        }
        &__item {
            display: block;
        }
        &__link {
            display: block;
            text-align: center;
            color: $primary-color;
            font-weight: bold;
            
            &.active, &:hover {
                color: $highlight-color;
            }
        }
        &__icon {
            display: block;
            margin-bottom: $mb-1;
        }
        &__title {
            display: block;
            font-size: $small-font-size;
        }
    }
}
@include for-sm-screen-up {
    .main-nav {
        &__menu {
            position: relative;
            display: flex;
            height: unset;
            width: unset;
            background-color: unset;
            box-shadow: none;

            &__link {
                margin-left: $mb-3;
                
                &.active, &:hover {
                    @include menu-highlight;
                }
            }
            &__icon {
                display: none;
            }
            &__title {
                font-size: $normal-font-size;
                font-weight: $font-semi;
            }
        }
    }    
}
