<nav class="main-nav">
    <div class="main-nav__left-side">
        <a href="" class="main-nav__logo" aria-label="Logo">{{siteLogo}}</a>
    </div>
    
    <ul class="main-nav__menu" id="menu" aria-label="Main Menu">
        <li *ngFor="let menuItem of menuList" class="main-nav__menu__item">
            <a href="{{'#' + menuItem.link}}" class="main-nav__menu__link" [class.active]="menuItem.active">
                <span aria-hidden="false" class="pi pi-{{menuItem.icon}} main-nav__menu__icon"></span>
                <span class="main-nav__menu__title">{{menuItem.name}}</span>
            </a>
        </li>
    </ul>
</nav>