<nav class="main-nav">
    <div class="main-nav__left-side">
        <a href="" class="main-nav__logo" aria-label="Logo">{{siteLogo}}</a>
    </div>
    
    <button class="main-nav__toggle" [attr.aria-expanded]="show" aria-label="Open main menu" aria-controls="menu" (click)="toggle(true)">
        <span class="material-icons" aria-hidden="true">menu</span>
    </button>

    <div class="main-nav__menu" [class.show]="show" aria-hidden="true">
        <div class="main-nav__menu__wrapper">
            <ul class="main-nav__list" id="menu" aria-label="Main Menu">
                <li *ngFor="let menuItem of menuList" class="main-nav__item"><a href="{{menuItem.link}}" class="main-nav__link" [class.active]="menuItem.active" (click)="selectMenu(menuItem)">{{menuItem.name}}</a></li>
            </ul>
            <button class="main-nav__toggle__btn--close" aria-label="Close main menu" aria-controls="menu" (click)="toggle(false)">
                <span class="material-icons md-36" aria-hidden="true">close</span>
            </button>
        </div>
    </div>
</nav>