<div class="footer-content">
    <h2 class="footer-content__name">KEN</h2>
    <div class="footer-content__links">
        <div class="footer-content__links__item">
            <a href="https://github.com/beltranken" target="_blank"><span class="pi pi-github"></span></a>
        </div>
        <div class="footer-content__links__item">
            <a href="http://fb.com/beltrankenhenson" target="_blank" class="footer-content__links__item__link"><span class="pi pi-facebook"></span></a>
        </div>
    </div>
</div>