$font: 'Poppins', sans-serif;
$font-semi: 600;

//Font Size
$h1-font-size: 3rem;
$h2-font-size: 1.5rem;
$h3-font-size: 0.938rem;
$small-font-size: 0.7rem;
$normal-font-size: 0.938rem;
$medium-font-size: 1rem;
$large-font-size: 1.5rem;