$header-height: 3rem;
$menu-mobile-height: 4rem;
$body-height: calc(100vh - 3rem);

/*** Margins ***/
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;
$mb-7: 3.5rem;
$mb-8: 4rem;