@import '_colors';
@import '_sizes';
@import '_mixins';

.skills-content {
  &__item {
    display: flex;
    align-items: flex-end;
    //margin: $mb-2 $mb-2;
    min-height: 200px;
    max-height: 350px;
  }
}
:host ::ng-deep .p-carousel-content {
  @include for-lg-screen-up {  
    .p-carousel-indicators {
      display: none;
    }
    .p-carousel-prev, .p-carousel-next {
      display: none;
    }
  }
  .p-carousel-item {
    padding-left: $mb-2;
    &:first-child {
      padding-left: 0;
    }
  }
  .p-card .p-card-body {
    padding-left: 2rem;
  }
}