@import '_colors';
@import '_sizes';
@import '_mixins';

.skills-content {
    &__list {
        display: grid;
        align-items: center;
        text-align: center;
        
        @include for-sm-screen-up {
            grid-template-columns: auto auto;
        }
    }
    &__item {
        min-height: 300px;
        padding: $mb-4;
    }
}