<!-- HEADER -->
<header app-header class="header"></header>

<main class="main">
    <!-- HOME -->
    <section app-home class="home" id="home"></section>

    <!-- ABOUT -->
    <section app-about class="about"></section>

    <!-- SKILLS -->
    <section app-skills class="skills" id="skills"></section>

    <!-- EXPERIENCES -->
    <section app-experiences class="experiences" id="experiences"></section>

    <!-- PORTFOLIO -->
    <section app-portfolio class="portfolio" id="portfolio"></section>
</main>

<!-- FOOTER -->
<footer app-footer class="footer"></footer>