<!-- HEADER -->
<header app-header class="header"></header>

<main class="main">
    <!-- HOME -->
    <section app-home class="home" id="home" #home></section>

    <!-- ABOUT -->
    <section app-about class="about" id="about" #about></section>

    <!-- SKILLS -->
    <section app-skills class="skills" id="skills" #skills></section>

    <!-- EXPERIENCES -->
    <section app-experiences class="experiences" id="experiences" #experiences></section>

    <!-- CONTACT -->
    <section app-contact class="contact" id="contact" #contact></section>
</main>

<!-- FOOTER -->
<footer app-footer class="footer" id="footer"></footer>