@import '_colors';
@import '_sizes';
@import '_z-index';
@import '_mixins';

:host {
    background-color: #f9f9f9;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: #f9f9f9;
    color: $light-color;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
.main {
    overflow: hidden;
}
.home, .about, .skills, .portfolio, .contact {
    @include base-margin;
    padding-top: $mb-8;
}
.experiences {
    background-color: darken($primary-color, 20%);
    margin-top: $mb-8;
    padding: $mb-6 0;
}
.footer {
    margin-top: $mb-8;
    margin-bottom: $menu-mobile-height;
    padding-bottom: $mb-4;
    background-color: $primary-color;
    color: $light-color;
    
    @include for-sm-screen-up {
        margin-bottom: 0;
    }
}
