<div class="home-content">
  <div class="home-content__data">  
    <h2 class="home-content__tagline">I WRITE CODES.</h2>
    <h1 class="home-content__name">Ken Henson <br>D. Beltran</h1>
    <ul class="home-content__list">
      <li class="home-content__item"><p>Lorem Ipsum is simply </p></li> 
      <li class="home-content__item"><p>Lorem Ipsum is simply dummy text du</p></li>
      <li class="home-content__item"><p>Lorem Ipsum is simply dummy text dummy text</p></li>
    </ul>
    <div class="home-content__links">
      <div>
        <button pButton type="button" label="Download Resume" class="p-button-secondary" (click)="downloadResume()"></button>
      </div>
    </div>
  </div>

  <div class="home-content__img" #canvasPosition>
    <app-snake></app-snake>
  </div>
</div>