<div class="home-content">
  <div class="home-content__data">  
    <h2 class="home-content__tagline">I WRITE CODES.</h2>
    <h1 class="home-content__name">Ken Henson <br>D. Beltran</h1>
    <ul class="home-content__list">
      <li class="home-content__item"><p>Innovation is my passion</p></li> 
      <li class="home-content__item"><p>Versatile programmer who loves learning everything</p></li>
      <li class="home-content__item"><p>6+ years in creating solutions</p></li>
    </ul>
    <div class="home-content__links">
      <div>
        <a href="#contact" pButton type="button" label="Request Resume" class="p-button-secondary"></a>
      </div>
    </div>
  </div>

  <div class="home-content__img" #canvasPosition>
    <app-snake></app-snake>
  </div>
</div>