@import '_sizes';
@import '_colors';
@import '_z-index';
@import '_mixins';

.home-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    &__data {
        position: relative;
        align-self: center;
        z-index: $z-front; 
        margin-top: $mb-8;
        margin-bottom: $mb-8;
    }
    &__tagline {
        color: $highlight-color;
        margin-bottom: $mb-2;
    }
    &__name {
        line-height: .9;
    }
    &__list {
        @include list;
        margin-top: $mb-4;
    }
    &__img {
        align-self: center;
        text-align: center;
        min-height: 350px;
        position: relative;
    }
    &__links {
        display: flex;
        margin-top: $mb-4;
        &__item {
            &--resume {
                background-color: $highlight-color;
                color: $light-color;
                cursor: pointer;
            }
        }
    }
}   
@include for-tablet-portrait-up {
    .home-content {
        &__data {
            align-self: flex-start;
            margin-top: $mb-4;
        }
    }
}
@include for-sm-screen-up {
    .home-content {
        grid-template-columns: auto auto;

        &__img {
            text-align: right;
        }
    }
}