<div class="home-content">
  <div class="home-content__data">  
    <h2 class="home-content__tagline">I WRITE CODES.</h2>
    <h1 class="home-content__name">Ken Henson <br>D. Beltran</h1>
    <ul class="home-content__list">
      <li class="home-content__item"><p>Lorem Ipsum is simply </p></li> 
      <li class="home-content__item"><p>Lorem Ipsum is simply dummy text du</p></li>
      <li class="home-content__item"><p>Lorem Ipsum is simply dummy text dummy text</p></li>
    </ul>
    <div class="home-content__links">
      <div>
        <a href="assets/file/resume.docx" class="btn home-content__links__item home-content__links__item--resume" aria-label="Download resume" download="resume">Download Resume</a>
      </div>
    </div>
  </div>
  <!-- modern solution for modern problems -->

  <div class="home-content__img">
    <img src="assets/img/me.png" alt="My image"/>
  </div>
</div>