<div class="about-content">
  <h2 class="about-content__title section-title"><span class="section-title__text">About</span></h2>
  <div class="about-content__data">
    <div class="about-content__data__img" #ImgWrapper>
      <img src="assets/img/me.png" alt="Ken picture">
    </div>
    <div class="about-content__data__desc" #canvasPosition>
      <h2 class="about-content__data__desc__highlight">
        Hello! I'm Ken
      </h2>
      <p class="about-content__data__desc__text">
        I'm a web developer & programmer based in Caloocan, Manila. <br>
        I have {{experience}} experience in designing, building and implementing Web, Mobile, and Desktop application.
      </p>
      <p class="about-content__data__desc__text">
        Currently, I'm focusing on Web Development. Angular, Nodejs, and MongoDB are some of the tools I'm using.
        I also have a solid experience and skill in using SQL based databases and other programming language and tools.
      </p>
      <p class="about-content__data__desc__text">
        I'm studied Bachelor in Science in Information Technology at Our Lady of Fatima University. 
      </p>
    </div>
  </div>
</div>