<div class="about-content">
  <h2 class="about-content__title section-title"><span class="section-title__text">About</span></h2>
  <div class="about-content__data">
    <div class="about-content__data__img">
      <img src="assets/img/modern.jpg" alt="modern problem modern solution">
    </div>
    <div class="about-content__data__desc">
      <h2 class="about-content__data__desc__highlight">
        Lorem Ipsum is <br>simply dummy text 
      </h2>
      <p class="about-content__data__desc__text">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of  
      </p>
      <p>
        type and scrambled it to make a type specimen book. It has survived not only five centuries,
      </p>
    </div>
  </div>
</div>