@import '_colors';
@import '_sizes';
@import '_mixins';

.about-content {
    &__data {
        display: grid;

        &__desc {
            padding-top: $mb-4;
 
            &__text {
                text-align: justify;
                margin-top: $mb-2;
                margin-bottom: $mb-4;
            }
            &__highlight {
                margin-bottom: $mb-4;
            }
        }
    }
}
@include for-sm-screen-up {
    .about-content {
        &__data {
            grid-template-columns: auto auto;

            &__desc {
                padding-left: $mb-4;
                padding-top: 0;
            }
        }
    }
}