@import '_colors';
@import '_sizes';
@import '_mixins';

.about-content {
    &__data {
        display: grid;

        @include for-sm-screen-up {
            grid-template-columns: auto auto;
        }
        &__desc {
            @include for-sm-screen-up {
                padding-left: $mb-4;
            }
            &__text {
                text-align: justify;
                margin-top: $mb-2;
                margin-bottom: $mb-4;
            }
            &__highlight {
                margin-bottom: $mb-4;
            }
        }
    }
}