<div class="contact-content">
  <h2 class="contact-content__title section-title"><span class="section-title__text">{{title}}</span></h2>
  <div class="contact-content__inner">
    <div class="contact-content__desc" #canvasPosition>
      <p>Hi,<br>Get in touch!</p>
      <ul>
        <li>Send an e-mail: <a href="mailto:beltrankenhenson@gmail.com">beltrankenhenson@gmail.com</a></li>
        <li>Drop a message: <a href="http://fb.com/beltrankenhenson">fb.com/beltrankenhenson</a></li>
      </ul>
      <p>I would love to hear from you.</p>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
    <div class="contact-content__form">
      <div class="contact-content__form__item">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Name *" formControlName="name">
        </div>
      </div>
      
      <div class="contact-content__form__item">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Email *" formControlName="email">
        </div>
      </div>
      
      <div class="contact-content__form__item">
        <div class="p-inputgroup">
            <textarea pInputTextarea [rows]="5" placeholder="Message *" resize="vertical" formControlName="message"></textarea>
        </div>
      </div>

      <div class="contact-content__form__item">
        <button pButton type="submit" label="Send" class="p-button-secondary" [disabled]="!contactForm?.valid"></button>
      </div>
    </div>
    </form>
  </div>
</div>